<a href="https://colab.research.google.com/github/shiv4ngi/Task/blob/master/Pandas_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [5]:
p = pd.read_csv("drive/My Drive/Automobile_data.csv")
p

    index        company   body-style  ...  horsepower  average-mileage    price
0       0    alfa-romero  convertible  ...         111               21  13495.0
1       1    alfa-romero  convertible  ...         111               21  16500.0
2       2    alfa-romero    hatchback  ...         154               19  16500.0
3       3           audi        sedan  ...         102               24  13950.0
4       4           audi        sedan  ...         115               18  17450.0
5       5           audi        sedan  ...         110               19  15250.0
6       6           audi        wagon  ...         110               19  18920.0
7       9            bmw        sedan  ...         101               23  16430.0
8      10            bmw        sedan  ...         101               23  16925.0
9      11            bmw        sedan  ...         121               21  20970.0
10     13            bmw        sedan  ...         182               16  30760.0
11     14            bmw        sedan  ...         182               16  41315.0
12     15            bmw        sedan  ...         182               15  36880.0
13     16      chevrolet    hatchback  ...          48               47   5151.0
14     17      chevrolet    hatchback  ...          70               38   6295.0
15     18      chevrolet        sedan  ...          70               38   6575.0
16     19          dodge    hatchback  ...          68               31   6377.0
17     20          dodge    hatchback  ...          68               31   6229.0
18     27          honda        wagon  ...          76               30   7295.0
19     28          honda        sedan  ...         101               24  12945.0
20     29          honda        sedan  ...         100               25  10345.0
21     30          isuzu        sedan  ...          78               24   6785.0
22     31          isuzu        sedan  ...          70               38      NaN
23     32          isuzu        sedan  ...          70               38      NaN
24     33         jaguar        sedan  ...         176               15  32250.0
25     34         jaguar        sedan  ...         176               15  35550.0
26     35         jaguar        sedan  ...         262               13  36000.0
27     36          mazda    hatchback  ...          68               30   5195.0
28     37          mazda    hatchback  ...          68               31   6095.0
29     38          mazda    hatchback  ...          68               31   6795.0
..    ...            ...          ...  ...         ...              ...      ...
31     43          mazda        sedan  ...          72               31  18344.0
32     44  mercedes-benz        sedan  ...         123               22  25552.0
33     45  mercedes-benz        wagon  ...         123               22  28248.0
34     46  mercedes-benz        sedan  ...         184               14  40960.0
35     47  mercedes-benz      hardtop  ...         184               14  45400.0
36     49     mitsubishi    hatchback  ...          68               37   5389.0
37     50     mitsubishi    hatchback  ...          68               31   6189.0
38     51     mitsubishi        sedan  ...          88               25   6989.0
39     52     mitsubishi        sedan  ...          88               25   8189.0
40     53         nissan        sedan  ...          55               45   7099.0
41     54         nissan        sedan  ...          69               31   6649.0
42     55         nissan        sedan  ...          69               31   6849.0
43     56         nissan        wagon  ...          69               31   7349.0
44     57         nissan        sedan  ...         152               19  13499.0
45     61        porsche      hardtop  ...         207               17  34028.0
46     62        porsche  convertible  ...         207               17  37028.0
47     63        porsche    hatchback  ...         288               17      NaN
48     66         toyota    hatchback  ...          62               35   5348.0
49     67         toyota    hatchback  ...          62               31   6338.0
50     68         toyota    hatchback  ...          62               31   6488.0
51     69         toyota        wagon  ...          62               31   6918.0
52     70         toyota        wagon  ...          62               27   7898.0
53     71         toyota        wagon  ...          62               27   8778.0
54     79         toyota        wagon  ...         156               19  15750.0
55     80     volkswagen        sedan  ...          52               37   7775.0
56     81     volkswagen        sedan  ...          85               27   7975.0
57     82     volkswagen        sedan  ...          52               37   7995.0
58     86     volkswagen        sedan  ...         100               26   9995.0
59     87          volvo        sedan  ...         114               23  12940.0
60     88          volvo        wagon  ...         114               23  13415.0

[61 rows x 10 columns]

Question 1: From given data set print first and last five rows

In [0]:
p.head()

   index      company   body-style  ...  horsepower  average-mileage    price
0      0  alfa-romero  convertible  ...         111               21  13495.0
1      1  alfa-romero  convertible  ...         111               21  16500.0
2      2  alfa-romero    hatchback  ...         154               19  16500.0
3      3         audi        sedan  ...         102               24  13950.0
4      4         audi        sedan  ...         115               18  17450.0

[5 rows x 10 columns]

In [0]:
p.tail()

    index     company body-style  ...  horsepower  average-mileage    price
56     81  volkswagen      sedan  ...          85               27   7975.0
57     82  volkswagen      sedan  ...          52               37   7995.0
58     86  volkswagen      sedan  ...         100               26   9995.0
59     87       volvo      sedan  ...         114               23  12940.0
60     88       volvo      wagon  ...         114               23  13415.0

[5 rows x 10 columns]

Question 2: Clean data and update the CSV file
Replace all column values which contain ‘?’ , ' ' and n.a with NaN.

In [0]:
p.fillna("NaN")

    index        company   body-style  ...  horsepower  average-mileage  price
0       0    alfa-romero  convertible  ...         111               21  13495
1       1    alfa-romero  convertible  ...         111               21  16500
2       2    alfa-romero    hatchback  ...         154               19  16500
3       3           audi        sedan  ...         102               24  13950
4       4           audi        sedan  ...         115               18  17450
5       5           audi        sedan  ...         110               19  15250
6       6           audi        wagon  ...         110               19  18920
7       9            bmw        sedan  ...         101               23  16430
8      10            bmw        sedan  ...         101               23  16925
9      11            bmw        sedan  ...         121               21  20970
10     13            bmw        sedan  ...         182               16  30760
11     14            bmw        sedan  ...         182               16  41315
12     15            bmw        sedan  ...         182               15  36880
13     16      chevrolet    hatchback  ...          48               47   5151
14     17      chevrolet    hatchback  ...          70               38   6295
15     18      chevrolet        sedan  ...          70               38   6575
16     19          dodge    hatchback  ...          68               31   6377
17     20          dodge    hatchback  ...          68               31   6229
18     27          honda        wagon  ...          76               30   7295
19     28          honda        sedan  ...         101               24  12945
20     29          honda        sedan  ...         100               25  10345
21     30          isuzu        sedan  ...          78               24   6785
22     31          isuzu        sedan  ...          70               38    NaN
23     32          isuzu        sedan  ...          70               38    NaN
24     33         jaguar        sedan  ...         176               15  32250
25     34         jaguar        sedan  ...         176               15  35550
26     35         jaguar        sedan  ...         262               13  36000
27     36          mazda    hatchback  ...          68               30   5195
28     37          mazda    hatchback  ...          68               31   6095
29     38          mazda    hatchback  ...          68               31   6795
..    ...            ...          ...  ...         ...              ...    ...
31     43          mazda        sedan  ...          72               31  18344
32     44  mercedes-benz        sedan  ...         123               22  25552
33     45  mercedes-benz        wagon  ...         123               22  28248
34     46  mercedes-benz        sedan  ...         184               14  40960
35     47  mercedes-benz      hardtop  ...         184               14  45400
36     49     mitsubishi    hatchback  ...          68               37   5389
37     50     mitsubishi    hatchback  ...          68               31   6189
38     51     mitsubishi        sedan  ...          88               25   6989
39     52     mitsubishi        sedan  ...          88               25   8189
40     53         nissan        sedan  ...          55               45   7099
41     54         nissan        sedan  ...          69               31   6649
42     55         nissan        sedan  ...          69               31   6849
43     56         nissan        wagon  ...          69               31   7349
44     57         nissan        sedan  ...         152               19  13499
45     61        porsche      hardtop  ...         207               17  34028
46     62        porsche  convertible  ...         207               17  37028
47     63        porsche    hatchback  ...         288               17    NaN
48     66         toyota    hatchback  ...          62               35   5348
49     67         toyota    hatchback  ...          62               31   6338
50     68         toyota    hatchback  ...          62               31   6488
51     69         toyota        wagon  ...          62               31   6918
52     70         toyota        wagon  ...          62               27   7898
53     71         toyota        wagon  ...          62               27   8778
54     79         toyota        wagon  ...         156               19  15750
55     80     volkswagen        sedan  ...          52               37   7775
56     81     volkswagen        sedan  ...          85               27   7975
57     82     volkswagen        sedan  ...          52               37   7995
58     86     volkswagen        sedan  ...         100               26   9995
59     87          volvo        sedan  ...         114               23  12940
60     88          volvo        wagon  ...         114               23  13415

[61 rows x 10 columns]

Question 3: Find the most expensive car company name
Print most expensive car’s company name and price.

In [0]:
inde= p["price"].argmax()
p.loc[inde,['company','price']]

Question 4: Print All Toyota Cars details

In [0]:
p[p['company']=='toyota']

    index company body-style  ...  horsepower  average-mileage    price
48     66  toyota  hatchback  ...          62               35   5348.0
49     67  toyota  hatchback  ...          62               31   6338.0
50     68  toyota  hatchback  ...          62               31   6488.0
51     69  toyota      wagon  ...          62               31   6918.0
52     70  toyota      wagon  ...          62               27   7898.0
53     71  toyota      wagon  ...          62               27   8778.0
54     79  toyota      wagon  ...         156               19  15750.0

[7 rows x 10 columns]

Question 5: Count total cars per company

In [0]:
c= p['company']
c.value_counts()

toyota           7
bmw              6
mazda            5
nissan           5
mercedes-benz    4
volkswagen       4
audi             4
mitsubishi       4
porsche          3
alfa-romero      3
jaguar           3
isuzu            3
chevrolet        3
honda            3
dodge            2
volvo            2
Name: company, dtype: int64

Question 6: Find each company’s Higesht price car

In [0]:
abc = p['company'].unique()
abc

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mitsubishi',
       'nissan', 'porsche', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [0]:
d = p.groupby('company')
d['price'].max()

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

Question 7: Find the average mileage of each car making company

In [6]:
m= p.groupby('company')
m['average-mileage'].mean()

company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

Question 8: Sort all cars by Price column

In [0]:
p.sort_values(['price'])

    index        company   body-style  ...  horsepower  average-mileage    price
13     16      chevrolet    hatchback  ...          48               47   5151.0
27     36          mazda    hatchback  ...          68               30   5195.0
48     66         toyota    hatchback  ...          62               35   5348.0
36     49     mitsubishi    hatchback  ...          68               37   5389.0
28     37          mazda    hatchback  ...          68               31   6095.0
37     50     mitsubishi    hatchback  ...          68               31   6189.0
17     20          dodge    hatchback  ...          68               31   6229.0
14     17      chevrolet    hatchback  ...          70               38   6295.0
49     67         toyota    hatchback  ...          62               31   6338.0
16     19          dodge    hatchback  ...          68               31   6377.0
50     68         toyota    hatchback  ...          62               31   6488.0
15     18      chevrolet        sedan  ...          70               38   6575.0
41     54         nissan        sedan  ...          69               31   6649.0
21     30          isuzu        sedan  ...          78               24   6785.0
29     38          mazda    hatchback  ...          68               31   6795.0
42     55         nissan        sedan  ...          69               31   6849.0
51     69         toyota        wagon  ...          62               31   6918.0
38     51     mitsubishi        sedan  ...          88               25   6989.0
40     53         nissan        sedan  ...          55               45   7099.0
18     27          honda        wagon  ...          76               30   7295.0
43     56         nissan        wagon  ...          69               31   7349.0
55     80     volkswagen        sedan  ...          52               37   7775.0
52     70         toyota        wagon  ...          62               27   7898.0
56     81     volkswagen        sedan  ...          85               27   7975.0
57     82     volkswagen        sedan  ...          52               37   7995.0
39     52     mitsubishi        sedan  ...          88               25   8189.0
53     71         toyota        wagon  ...          62               27   8778.0
58     86     volkswagen        sedan  ...         100               26   9995.0
20     29          honda        sedan  ...         100               25  10345.0
30     39          mazda    hatchback  ...         101               17  11845.0
..    ...            ...          ...  ...         ...              ...      ...
19     28          honda        sedan  ...         101               24  12945.0
60     88          volvo        wagon  ...         114               23  13415.0
0       0    alfa-romero  convertible  ...         111               21  13495.0
44     57         nissan        sedan  ...         152               19  13499.0
3       3           audi        sedan  ...         102               24  13950.0
5       5           audi        sedan  ...         110               19  15250.0
54     79         toyota        wagon  ...         156               19  15750.0
7       9            bmw        sedan  ...         101               23  16430.0
1       1    alfa-romero  convertible  ...         111               21  16500.0
2       2    alfa-romero    hatchback  ...         154               19  16500.0
8      10            bmw        sedan  ...         101               23  16925.0
4       4           audi        sedan  ...         115               18  17450.0
31     43          mazda        sedan  ...          72               31  18344.0
6       6           audi        wagon  ...         110               19  18920.0
9      11            bmw        sedan  ...         121               21  20970.0
32     44  mercedes-benz        sedan  ...         123               22  25552.0
33     45  mercedes-benz        wagon  ...         123               22  28248.0
10     13            bmw        sedan  ...         182               16  30760.0
24     33         jaguar        sedan  ...         176               15  32250.0
45     61        porsche      hardtop  ...         207               17  34028.0
25     34         jaguar        sedan  ...         176               15  35550.0
26     35         jaguar        sedan  ...         262               13  36000.0
12     15            bmw        sedan  ...         182               15  36880.0
46     62        porsche  convertible  ...         207               17  37028.0
34     46  mercedes-benz        sedan  ...         184               14  40960.0
11     14            bmw        sedan  ...         182               16  41315.0
35     47  mercedes-benz      hardtop  ...         184               14  45400.0
22     31          isuzu        sedan  ...          70               38      NaN
23     32          isuzu        sedan  ...          70               38      NaN
47     63        porsche    hatchback  ...         288               17      NaN

[61 rows x 10 columns]

Question 9: Concatenate two data frames using following conditions
Create two data frames using following two Dicts, Concatenate those two data frame and create a key for each data frame.
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars= {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

In [0]:
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars= {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

In [0]:
f1= pd.DataFrame(GermanCars)
f2= pd.DataFrame(japaneseCars)
pd.concat([f1,f2], ignore_index= True)

       Company   Price
0         Ford   23845
1     Mercedes  171995
2          BMV  135925
3         Audi   71400
4       Toyota   29995
5        Honda   23600
6       Nissan   61500
7  Mitsubishi    58900

Question 10: Merge two data frames using following condition
Create two data frames using following two Dicts, Merge two data frames, and append second data frame as a new column to first data frame.

Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

In [0]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

In [0]:
df1= pd.DataFrame(Car_Price)
df2= pd.DataFrame(car_Horsepower)

In [0]:
pd.merge(df1,df2,on=['Company'])

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160